<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] [%-5level] [%t] [%c] %msg%n"/>
        </Console>

        <!-- File appenders for each logger -->
        <File name="Filebeat" fileName="/logs/filebeat.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="CacheLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Logger name="CoordinatorLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Logger name="CalculatorLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Logger name="SubscriberLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Logger name="SubscriberClassLoaderLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Logger name="KafkaProducerLogger" level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Filebeat"/>
        </Logger>

        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
